<launch>
    <param name="/use_sim_time" value="true" />

    <node pkg="rosbag" type="play" name="rosbag_player"
          args="--clock /ros_ws/data/guanfu_road_clipped.bag" />

    <node pkg="task-4-node" type="radar_relative_speed.py"
          name="radar_relative_speed_node" output="screen" />

    <node pkg="rviz" type="rviz" name="rviz"
          args="-d $(find task-4-node)/task4.rviz" />
</launch>
