<launch>
    <param name="use_sim_time" value="true" /> 
    <node pkg="rviz"    type="rviz" name="rviz" args="-d $(find fusion)/rviz_config/rviz_config.rviz"/>
    <arg name="data_path" default="~/catkin_ws/data/sdc_hw5.bag"/>
    <node pkg ="fusion" type="fusion.py" name="EKF_fusion" output="screen"/>
</launch>
